body {
  font-family: arial, sans-serif;
}

.menu {
  display: block;
  font-size: 13px;
  list-style-type: none;
  margin: 0;
  padding: 15px;
}

.menu li {
  float: left;
  padding: 0 0 0 15px;
}

.menu-right {
  float: right;
}

li a {
  display: block;
  text-decoration: none;
  color: #000;
  opacity: 0.75;
  line-height: 28px;
}

#google-apps-menu {
  background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  background-position: -132px -38px;
  opacity: 0.55;
}

li #sign-in {
  font-size: 13px;
  white-space: nowrap;
  text-align: left;
  font-family: arial, sans-serif;
  display: inline-block;
  line-height: 28px;
  padding: 0 12px;
  border-radius: 2px;
  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  background: -webkit-linear-gradient(top, #4285f4, #4387fd, #4683ea);
  opacity: 1;
  cursor: default;
  text-decoration: none;
  color: #fff;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo center img {
  padding-top: 109px;
}

#search-form {
  margin-top: 15px;
  padding-top: 15px;
}
.search-icon-wrapper {
  margin: auto;
  display: flex;
  align-items: center;
  line-height: 24px;
  fill: currentColor;
  padding-right: 13px;
}

.search-icon {
  margin-top: -2px;
  color: #9aa0a6;
  height: 20px;
  width: 20px;
}

svg {
  display: block;
  height: 100%;
  width: 100%;
}

.input-wrapper {
  display: flex;
  flex: 1;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
  height: 44px;
  width: 482px;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  margin: 0 auto;
}

input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  outline: none;
  display: flex;
  flex: 100%;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px;
}

.microphone-icon-wrapper {
  line-height: 44px;
  width: 24px;
  padding: 0 8px;
}

.mircophone-icon {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.button-container input {
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5f6368;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  flex: none;
}

footer {
  width: 100%;
  font-size: 14px;
}

footer ul {
  margin-left: -27px;
  background: #f2f2f2;
  height: 35px;
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 40px;
}
