body {
  font-family: arial, sans-serif;
}
.menu {
  position: absolute;
  font-size: 13px;
  list-style-type: none;
}
.menu-left > ul {
  top: 16px;
  width: 220px;
  margin: 7px 0 0 10px;
}

.menu > li {
  display: inline-block;
  color: #000;
  opacity: 0.75;
}

.menu-left > li {
  padding-left: 15px;
}

.menu-right {
  /* position: relative; */
  /* float: right; */
  z-index: 987;
  /* justify-content: flex-end; */
}

.menu-right > li {
  position: relative;
  top: 0;
  right: 0;
}
.content {
  padding-bottom: 35px;
}

.ctr-p {
  margin: 0 auto;
  min-width: 980px;
}

center {
  display: block;
  text-align: -webkit-center;
}

.search-icon-wrapper {
  margin: auto;
  display: flex;
  align-items: center;
  line-height: 24px;
  fill: currentColor;
  padding-right: 13px;
}

.search-icon {
  margin-top: -2px;
  color: #9aa0a6;
  height: 20px;
  width: 20px;
}

svg {
  display: block;
  height: 100%;
  width: 100%;
}

img {
  padding-top: 109px;
  height: 92px;
  width: 272px;
}

.input-wrapper {
  display: flex;
  flex: 1;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
  height: 44px;
  width: 482px;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  margin: 0 auto;
}

input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  outline: none;
  display: flex;
  flex: 100%;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px;
}

.microphone-icon-wrapper {
  line-height: 44px;
  width: 24px;
  padding: 0 8px;
}

.mircophone-icon {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}
